* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;	
	width: max-content;
}
input{
	padding: 0px 10px 0px 10px;
	border: 1px solid #959595;
}
input:focus{
	background-color: #F0F0EE;
	outline: none;/*去除聚焦时的高亮*/
}
.jui-inside-horizontal {
	margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.jui-outside-horizontal {
    display: inline-block;
}

.jui-div-shadown {
    box-shadow: 0px 0px 5px 0px #b4b4b4;/*阴影样式，x偏移量，y偏移量，模糊量，扩张量【阴影样式默认不写，inset是内阴影】*/
}

.jui-div-radius {
    border-radius: 4px;
}

.jui-outside-center {
    margin: auto;
}
.jui-outside-right {
    margin: 0px 0px 0px auto;
}
.jui-outside-left {
    margin: 0px auto 0px 0px;
}

/************************************************************************************************************************************************
 *  布局UI
 */
html{
	width: auto;
	height: max-content;
}

body {
	width: 100%;
	height: max-content;
    background: #ffffff;
    background-size: 100%;
}
.jui-body-top {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
	z-index: 2;
}

.jui-body-middle {
    width: 100%;
    height: auto;
    margin: 0px 0px auto 0px;
    padding-top: 60px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
	z-index: 1;
}

.jui-body-bottom {
    width: 100%;
    height: max-content;
    margin: auto 0px 0px 0px;
	position: absolute;	
	bottom: 0px;
	z-index: 1;
	
}

.jui-body-middle-left {
    margin: 5px 0px 5px auto;
	z-index: 1;
}

.jui-body-middle-middle {
    margin: 5px;
    padding: 0px 0px 0px 0px;
    background: rgba(239, 239, 239, 0.3);
	z-index: 1;
}

.jui-body-middle-right {
    margin: 5px auto 5px 0px;
	z-index: 1;
}

.jui-row {
    width: 100%;
    margin: 0px auto 8px auto;
    display: flex;
    flex-wrap: wrap;
	z-index: 1;
}

/************************************************************************************************************************************************
 *  登录表单UI 
 */
form{
	display: inline-block;
	width: max-content;
	border-radius: 10px;
	box-shadow: 0px 0px 7px 0px #b4b4b4;
	padding: 20px 0px 20px 0px;
}
form *{
	font-size: 24px;
	font-family: "宋体";
}
form>div{
	width: auto;
	display: flex;
	flex-wrap: nowrap;
	margin: 0px 20px 15px 20px;
}
form>div>*{
	line-height: 40px;
}
form>div>label{
	width: 100px;
	display: inline-block;
	white-space: nowrap;/*不换行*/
	text-align: center;
	background-color: #bdbdbd;
	border:1px solid #bdbdbd;
	border-radius: 10px 0px 0px 10px;
}
/*************************************************************************************************************************************************
 * 表格
 */

.jui-table {
    width: 100%;
    background-color: #fff;
    color: #666
}

.jui-table tr {
    transition: all .3s;
    -webkit-transition: all .3s
}

.jui-table th {
    text-align: left;
    font-weight: 400
}

.jui-table tbody tr:hover,
.jui-table thead tr {
    background-color: #f2f2f2
}

.jui-table td,
.jui-table th {
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6
}

.jui-table td,
.jui-table th {
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px
}


/*************************************************************************************************************************************************
 * 导航
 */
.jui-ul-navbar {
	width: fit-content;
	padding: 0px 10px 0px 10px;
	background-color: #151515;
	color: #ffffff;
	font-size: 20;
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
}
.jui-ul-navbar,
.jui-ul-navbar li{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	flex-wrap: nowrap;
}
.jui-ul-navbar a{
	height: 60px;
	padding: 0px 10px 0px 10px;
	color: #d9d9d9;	
	line-height: 60px;
	text-decoration: none;
	white-space: nowrap;/*禁止文字换行，默认超出部分隐藏*/
}
.jui-ul-navbar a:hover{
	color: #ffffff;
	background-color: #3b3b3b;
}
/*************************************************************************************************************************************************
 * input
 */
.jui-input-search{
	line-height: 30px;
	border:1px solid #e2e2e2;
	padding: 0px 10px 0px 20px;
	background-color: #f3f3f3;
	outline: none;/*去除聚焦时的高亮*/
}
.jui-input-search:focus{
	background-color: #ffffff;
}

input[type="checkbox"]{
	margin: auto 0px;
}
input[type="checkbox"]+lable{
	font-size: 18px;
	margin: auto 5px auto 0px;
	line-height: inherit;
}
/*************************************************************************************************************************************************
 * 按钮
 */
.jui-btn {
    margin-right: 2px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.jui-btn:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

/*************************************************************************************************************************************************
 * 弹窗
 */
.jui-popup{
	width: 300px;
	height: 100px;
	border-radius:10px ;
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0px 0px 9px 0px #000000;
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 150px);
	z-index: 20;
}
.jui-curtain{
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 19;
}
.jui-popup-1{
	width: 100%;
	height: 100%;
	background-color: rgba(166, 166, 166, 0.5);
	position: fixed;
	z-index: 20;
	display: flex;
	align-items: center; /*定义body的元素垂直居中*/
	justify-content: center;/*定义body的元素水平居中*/
}
.jui-popup-1>*{
	display: block;
	width: max-content;
	height: max-content;
	margin: auto;
	background-color: rgba(255, 255, 255, 1.0);
}
/*************************************************************************************************************************************************
 * 动画
 */
.jui-div-animation-1-100px {
    position: fixed;
    z-index: -1;
    animation: name 20s;
    -o-animation: name 20s;
    -webkit-animation: name 20s;
    -moz-animation: name 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.jui-div-animation-1-100px * {
    width: 100px;
    height: 100px;
}

@keyframes name {
    0% {
        top: calc(50% - 50px);
        left: 0px;
    }
    25% {
        top: calc(100% - 100px);
        left: calc(50% - 50px);
    }
    50% {
        top: calc(50% - 50px);
        left: calc(100% - 100px);
    }
    75% {
        top: 0px;
        left: calc(50% - 50px);
    }
    100% {
        top: calc(50% - 50px);
        left: 0px;
    }
}

@-moz-keyframes name {
    0% {
        top: -moz-calc(50% - 50px);
        left: 0px;
    }
    25% {
        top: -moz-calc(100% - 100px);
        left: -moz-calc(50% - 50px);
    }
    50% {
        top: -moz-calc(50% - 50px);
        left: -moz-calc(100% - 100px);
    }
    75% {
        top: 0px;
        left: -moz-calc(50% - 50px);
    }
    100% {
        top: -moz-calc(50% - 50px);
        left: 0px;
    }
}

@-webkit-keyframes name {
    0% {
        top: -webkit-calc(50% - 50px);
        left: 0px;
    }
    25% {
        top: -webkit-calc(100% - 100px);
        left: -webkit-calc(50% - 50px);
    }
    50% {
        top: -webkit-calc(50% - 50px);
        left: -webkit-calc(100% - 100px);
    }
    75% {
        top: 0px;
        left: -webkit-calc(50% - 50px);
    }
    100% {
        top: -webkit-calc(50% - 50px);
        left: 0px;
    }
}

@-o-keyframes name {
    0% {
        top: calc(50% - 50px);
        left: 0px;
    }
    25% {
        top: calc(100% - 100px);
        left: calc(50% - 50px);
    }
    50% {
        top: calc(50% - 50px);
        left: calc(100% - 100px);
    }
    75% {
        top: 0px;
        left: calc(50% - 50px);
    }
    100% {
        top: calc(50% - 50px);
        left: 0px;
    }
}


/*************************************************************************************************************************************************
 * 测试用div
 */
.jui-test-div {
    padding: 0px;
    height: 100%;
    background-color: rgba(100, 0, 0, 0.5);
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.jui-test-div-1 {
    margin: auto;
    padding-top: 400px;
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
}